In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv',
                 error_bad_lines = False)
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [14]:
df = df.drop(columns = ['date', 'lights'])

In [7]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
T2 = norm_df['T2']
T6 = norm_df['T6']

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(T2, T6,
test_size=0.3, random_state=42)

In [21]:
linear_model.fit(x_train[:,np.newaxis],y_train[:,np.newaxis])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
predicted_values = linear_model.predict(x_test[:,np.newaxis])

from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.643

In [44]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test.values, predicted_values)
round(mae, 2)

0.08

In [46]:
c=y_test.values

In [48]:
rss = np.sum(np.square(c-predicted_values))
round(rss, 2)

1800916.45

In [49]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 2)

0.11

In [50]:
linear_model.coef_

array([[0.8910771]])

In [53]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [55]:
X = df.drop(columns=['Appliances'])
y = df['Appliances']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y,
test_size=0.3, random_state=42)

linear_model_2 = LinearRegression()
linear_model_2.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [57]:
linear_model_weights = get_weights_df(linear_model_2, x_train, 'Linear_Model_Weight')

In [63]:
linear_model_weights#linear_model_weights['Linear_Model_Weight'].min()

       Features  Linear_Model_Weight
0            T9           -21.148452
1            T2           -18.370030
2          RH_2           -13.740748
3         T_out           -11.073628
4          RH_8            -5.778861
5          RH_9            -1.762680
6          RH_7            -1.692787
7            T5            -1.600843
8        RH_out            -1.093521
9            T1            -0.370721
10          rv2             0.016483
11          rv1             0.016483
12  Press_mm_hg             0.170188
13   Visibility             0.202586
14         RH_5             0.257511
15         RH_6             0.411649
16           T7             1.040631
17         RH_4             1.204984
18    Windspeed             2.230425
19           T4             2.793664
20         RH_3             4.803162
21    Tdewpoint             5.701393
22           T6             7.363547
23           T8             9.990970
24         RH_1            16.300198
25           T3            25.836743

In [ ]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

In [64]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

C:\Users\Chinedu\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6136226.882367358, tolerance: 14642.917148544962
  positive)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [65]:
lasso_reg.predict(x_test)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

140.532